In [19]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [39]:
df = pd.read_csv("crop_data.csv")
df.head()

  Zone_Name                 Crop    Area  Production
0   Abeshge             Arecanut  1254.0      2000.0
1   Abeshge  Other Kharif pulses     2.0         1.0
2   Abeshge                 Rice   102.0       321.0
3   Abeshge               Banana   176.0       641.0
4   Abeshge            Cashewnut   720.0       165.0

In [40]:
df.shape

(242361, 4)

In [41]:
df = df[df['Zone_Name'] == 'Silte']

In [42]:
df

       Zone_Name       Crop      Area  Production
232764     Silte       Rice   15017.0     33840.0
232765     Silte       Jute   52568.0    677510.0
232766     Silte      Mesta     690.0      6710.0
232767     Silte       Urad    1992.0      1310.0
232768     Silte       Gram     267.0       160.0
...          ...        ...       ...         ...
242356     Silte       Rice     306.0       801.0
242357     Silte    Sesamum     627.0       463.0
242358     Silte  Sugarcane     324.0     16250.0
242359     Silte       Rice  279151.0    597899.0
242360     Silte    Sesamum     175.0        88.0

[9597 rows x 4 columns]

In [43]:
d = df[df['Crop'] == 'Rice']

In [44]:
d

       Zone_Name  Crop      Area  Production
232764     Silte  Rice   15017.0     33840.0
232776     Silte  Rice   98044.0    269690.0
232790     Silte  Rice  193202.0    381990.0
232791     Silte  Rice   21417.0     45870.0
232807     Silte  Rice  114251.0    425881.0
...          ...   ...       ...         ...
242319     Silte  Rice     516.0      1274.0
242322     Silte  Rice  302274.0    730136.0
242328     Silte  Rice     264.0       721.0
242356     Silte  Rice     306.0       801.0
242359     Silte  Rice  279151.0    597899.0

[969 rows x 4 columns]

In [45]:
data_dum = d.drop(["Zone_Name", "Crop"], axis=1)
data_dum

            Area  Production
232764   15017.0     33840.0
232776   98044.0    269690.0
232790  193202.0    381990.0
232791   21417.0     45870.0
232807  114251.0    425881.0
...          ...         ...
242319     516.0      1274.0
242322  302274.0    730136.0
242328     264.0       721.0
242356     306.0       801.0
242359  279151.0    597899.0

[969 rows x 2 columns]

In [9]:
sum_maxp = df["Production"].sum()
df["percent_of_production"] = df["Production"].map(lambda x:(x/sum_maxp)*100)

In [13]:
#data1 = df.drop(["Crop_Year"],axis=1)

In [14]:
data_dum = pd.get_dummies(data1)
data_dum[:5]

,Unnamed: 0,Area,Production,percent_of_production,Zone_Name_Abeshge,Zone_Name_Amekka,Zone_Name_Ana Lemo,Zone_Name_Butajira,Zone_Name_Cheha,Zone_Name_Dalocha,...,Crop_Turmeric,Crop_Turnip,Crop_Urad,Crop_Varagu,Crop_Water Melon,Crop_Wheat,Crop_Yam,Crop_other fibres,Crop_other misc. pulses,Crop_other oilseeds
0,0,1254.0,2000.0,1.416670e-06,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,2.0,1.0,7.083351e-10,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,102.0,321.0,2.273756e-07,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,176.0,641.0,4.540428e-07,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,720.0,165.0,1.168753e-07,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
x = data_dum.drop("Production",axis=1)
y = data_dum[["Production"]]
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.33, random_state=42)
print("x_train :",x_train.shape)
print("x_test :",x_test.shape)
print("y_train :",y_train.shape)
print("y_test :",y_test.shape)

x_train : (162381, 160)
x_test : (79980, 160)
y_train : (162381, 1)
y_test : (79980, 1)

In [16]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(x_train,y_train)
preds = model.predict(x_test)